
block content
    .main.container
        .row.text-left
            .col-md-8.col-md-offset-2
                h1#about.text-left About Us
                p Made by Cosmos Team
                p  Deliverable 2

                a.btn.btn-info(href="/register") Get Started!