block content
    .container.aboutus
        .row
            .col-md-6
                // I think the logo here would be really cool
                h2#about.strong
                    | About us
                    br
                    | and our mission
                p.lead
                    | A platform for individuals to
                    br
                    | find a study spot suited to their needs
            .col-md-6
                p
                    | We all have different needs at different times. Sometimes we need dead-silence while we study. Other times we may want somewhere a bit more busy where we can make discuss our grand plans.
                p
                    | That's why the team at COSMOS created StudySpot. Studyspot is an online platform that connects individuals to the right StudySpot at the right time. We hope to help our growing troupe of StudySpotters get their work done where they want to.
