block content
    .container.about
        .row
            .col-md-6
                h2#about.strong
                    | About us
                    br
                    | and our mission
                p.lead
                    | A platform for individuals to
                    br
                    | find a study spot suited to their needs
            .col-md-6
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet. Nulla convallis egestas rhoncus.
