extends layout

block content

    // Delete Venue Request page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If deletion already submitted only show message
                if (deleted)
                  h2.display-4.m-b-2 Successfully deleted the venue request!
                  
                  a(href="/admin") Back to admin page
                
                //- Else, show delete form
                else
                
                  h1.display-4.m-b-2 Delete request to create #{venueRequest.venueName}
                  br
                  p Are you sure you want to delete this request?
                  p <strong> This action cannot be undone. </strong>
                  
                  br
                  a(href="/admin") Back to admin page
                  
                  br
                  br
                  // INSERT EDIT AND APPROVE LINK
                  
                  - const updateReview = "/venueUpdate/" + venueRequest._id
                  a.btn.btn-Warning(href=updateReview) UPDATE Venue 
                  
                  
                  br
                  form(method="POST" action="")
                    button.btn.btn-Danger(type="Submit") DELETE Venue Request
