.container.text-center
    .row
        .col-12.col-lg-4.d-flex.align-items-stretch
            .card.m-2
                img.card-img-top(src="../images/homepage/cafe-sevenseeds.jpg", alt="cafe-sevenseeds")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/homepage/philipe-cavalcante.jpg", alt="person1")
                    .popular-link-avatar-name.text-muted By Philipa C.
                    h5.card-title Popular Cafes
                    p.card-text
                        | With the exam season lingering around the corner, sometimes you just want to escape the house and go and study at a café.
                    a.card-link.text-danger.mt-auto(href="/venue?searchType=Cafe&search=&searchLocation=") View Cafes

        .col-12.col-lg-4.d-flex.align-items-stretch
            .card.m-2
                img.card-img-top(src="../images/homepage/library-vic.jpg", alt="vic-library")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/homepage/courtney-cook.jpg", alt="person2")
                    .popular-link-avatar-name.text-muted By Courtney C.
                    h5.card-title Our Favourite Libraries
                    p.card-text
                        | Surround yourself with books and soak in some sweet, sweet knowledge. Find a library near you that'll fit your needs. 
                    a.card-link.text-danger.mt-auto(href="/venue?searchType=Library&search=&searchLocation=") View Libraries

        .col-12.col-lg-4.d-flex.align-items-stretch
            .card.m-2
                img.card-img-top(src="../images/homepage/south-lawn.jpg", alt="cafe-sevenseeds")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/homepage/charles-deluvio-avatar.jpg", alt="person3")
                    .popular-link-avatar-name.text-muted By Charles D.
                    h5.card-title Other Chill Spots
                    p.card-text
                        | Maybe you're looking for something a bit different. Have a look at some StudySpots that are like no other.
                    a.card-link.text-danger.mt-auto(href="/venue?searchType=Other&search=&searchLocation=") View Spots
