.container.text-center
    .row
        .col-12.col-lg-4.d-flex.align-items-stretch
            .card
                img.card-img-top(src="../images/homepage/cafe-sevenseeds.jpg", alt="cafe-sevenseeds")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/avatar.png", alt="Bologna")
                    .popular-link-avatar-name.text-muted By Jyn E.
                    h5.card-title Popular Cafes
                    //h6.card-subtitle.mb-2.text-muted in Melbourne
                    p.card-text
                        | With the exam season lingering around the corner, sometimes you just want to escape the house and go and study at a café.
                    a.card-link.text-danger.mt-auto(href="#") Read More

        .col-12.col-lg-4.d-flex.align-items-stretch
            .card
                img.card-img-top(src="../images/homepage/library-vic.jpg", alt="vic-library")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/homepage/charles-deluvio-avatar.jpg", alt="Bologna")
                    .popular-link-avatar-name.text-muted By Jamie A.
                    h5.card-title Our favourite libraries
                    //h6.card-subtitle.mb-2.text-muted in Melbourne
                    p.card-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lacus vitae nulla posuere dignissim. Proin vehicula maximus placerat. Maecenas.
                    a.card-link.text-danger.mt-auto(href="#") Read More

        .col-12.col-lg-4.d-flex.align-items-stretch
            .card
                img.card-img-top(src="../images/homepage/south-lawn.jpg", alt="cafe-sevenseeds")
                .card-body.d-flex.flex-column.align-items-center
                    img.popular-link-avatar.rounded-circle(src="../images/avatar.png", alt="Bologna")
                    .popular-link-avatar-name.text-muted By Charles D.
                    h5.card-title Chill Uni Spots
                    //h6.card-subtitle.mb-2.text-muted in Melbourne
                    p.card-text
                        | With the exam season lingering around the corner, sometimes you just want to escape the house and go and study at a café.
                    a.card-link.text-danger.mt-auto(href="#") Read More
