//Extracted from https://mdbootstrap.com/docs/jquery/javascript/carousel/

// Carousel Wrapper
#multi-item-example.carousel.slide.carousel-multi-item(data-ride="carousel")
    // Controls
    .controls-top
        a.btn-floating(href="#multi-item-example", data-slide="prev")
            i.fas.fa-chevron-circle-left.fa-2x
        a.btn-floating(href="#multi-item-example", data-slide="next")
            i.fas.fa-chevron-circle-right.fa-2x
    // /.Controls
    // Indicators
    ol.carousel-indicators
        li.active(data-target="#multi-item-example", data-slide-to="0")
        li(data-target="#multi-item-example", data-slide-to="1")
    // /.Indicators
    // Slides
    .carousel-inner(role="listbox")
        // First slide
        .carousel-item.active
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="../images/homepage/cafe-sevenseeds.jpg", alt="Card image cap")
                    .card-body
                        h5.card-title Popular cafes
                        p.card-text
                        a.btn.btn-warning Button
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="../images/homepage/south-lawn.jpg", alt="Card image cap")
                    .card-body
                        h5.card-title Top uni spots
                        p.card-text
                        a.btn.btn-warning Button
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="../images/homepage/library-uni.jpg", alt="Card library image")
                    .card-body
                        h5.card-title Popular libraries
                        p.card-text
                        a.btn.btn-warning Button
        // /.First slide
        // Second slide
        .carousel-item
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="../images/homepage/library-vic.jpg", alt="Card image cap")
                    .card-body
                        h5.card-title Quiet study areas
                        p.card-text
                        a.btn.btn-warning Button
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="../images/homepage/top-user.jpeg", alt="Card image cap")
                    .card-body
                        h5.card-title Top users to follow
                        p.card-text
                        a.btn.btn-warning Button
            .col-md-4(style="float:left; padding: 0 50px")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg", alt="Card image cap")
                    .card-body
                        h5.card-title See the team
                        p.card-text
                        a.btn.btn-warning Button
        // /.Second slide
        // /.Slides
// /.Carousel Wrapper
