//Extracted from https://mdbootstrap.com/docs/jquery/javascript/carousel/

// Carousel Wrapper
#multi-item-example.carousel.slide.carousel-multi-item(data-ride="carousel")
    // Controls
    .controls-top
        a.btn-floating(href="#multi-item-example", data-slide="prev")
            i.fas.fa-chevron-circle-left.fa-2x
        a.btn-floating(href="#multi-item-example", data-slide="next")
            i.fas.fa-chevron-circle-right.fa-2x
    // /.Controls
    // Indicators
    ol.carousel-indicators
        li.active(data-target="#multi-item-example", data-slide-to="0")
        li(data-target="#multi-item-example", data-slide-to="1")
    // /.Indicators
    // Slides
    .carousel-inner(role="listbox")
        // First slide
        .carousel-item.active
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Popular cafes
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Top uni spots
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Popular libraries
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Best locations for study groups
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
        // /.First slide
        // Second slide
        .carousel-item
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
            .col-md-3(style="float:left")
                .card.mb-2
                    img.card-img-top(src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg", alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the
                            | card"s content.
                        a.btn.btn-primary Button
        // /.Second slide
        // /.Slides
// /.Carousel Wrapper
