extends layout

block content
    .main.container
        .row
            .col-md-8.col-md-offset-2
                h1.display-4.m-b-2 Contact Us
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada lorem id purus tristique rhoncus. Sed egestas elit id lorem sollicitudin sodales. Aliquam fringilla mi nec arcu ultricies facilisis. Sed varius pretium ante. Maecenas at pretium ex, a fringilla ligula.

                a.btn.btn-primary(href='#') Get in touch
