extends layout

block content
    .main.container
        .row.text-center
            .col-md
                i.icn-person.material-icons error
                p.lead= message
                a.btn.btn-info(href="/register") Return to sign up

                a.btn.btn-outline-info(href="/login") Return to sign in


