extends layout

block content
        header.masthead.text-white.text-center
            .overlay
            .container-fluid
                .row
                    .col-xl-9.mx-auto
                        h1.big-heading.mb-5 Where do you plan to study today?
                    .col-xl-9.mx-auto
                        h6.mb-5 Discover the best study spots in Australia
                    .col-md-10.col-lg-8.col-xl-7.mx-auto
                        form(method="GET" action="/venue")
                            .input-group
                                select.form-control(name="searchType")
                                    option(value='Any' selected='') Any Type
                                    option(value='Cafe') Cafe
                                    option(value='Library') Library
                                    option(value='Other') Others
                                input.form-control(type="text",name="search" , placeholder="Search for cafes, libraries...")
                                input.form-control(type="text",name="searchLocation" , placeholder="Search by suburb")

                                .input-group-append
                                    button.btn.btn-warning(type="submit", value="Search")
                                        i.fa.fa-search
                        p.search-bottom-title

                            | By using this website, you are agreeing to our 
                            a(href="#" style="color: #adadad") terms and conditions

        div.popular-link-set.bg-light
            h2.popular-link-title Student Spot Guide
            include cards

        include about
        include team
