extends layout

block content
    body
        header.masthead.text-white.text-center
            .overlay
            .container
                .row
                    .col-xl-9.mx-auto
                        h1.mb-5 StudySpot
                    .col-xl-9.mx-auto
                        h5.mb-5 Discover the best study spots in Australia
                    .col-md-10.col-lg-8.col-xl-7.mx-auto
                        .input-group
                            input.form-control(type="text", placeholder="Search for cafes, libraries or hidden spots")
                            .input-group-append
                                button.btn.btn-info(type="button")
                                    i.fa.fa-search
