doctype html(lang="en")
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title StudySpot | #{title}

    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="/css/homepage.css")
    link(rel="stylesheet", href="/css/venue.css")
    link(rel="stylesheet", href="/css/register.css")
    link(rel="stylesheet", href="/css/user.css")


    body
        // load navbar.jade
        include navbar

    // content block
    block content

        // footer
        p.foot.text-center &copy; Cosmos Team 2020

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
