extends layout

block content
    body.text-center.login
        .main.container-fluid
                form.form-signin
                    h1.h3.mb-3.font-weight-normal Please sign in
                    label.sr-only(for="email") Email
                    input.form-control(type="email" placeholder="Email address" name="email" required="" autofocus="")
                    label.sr-only(for="password") Password
                    input.form-control(type="password" placeholder="Password" name="pasword" required="")
                    .checkbox.mb-3
                        label
                            input(type="checkbox" value="is-venue-owner")
                            |  Venue owner
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
                    p.mt-5.mb-3.text-muted &copy; 2020

