extends layout

block content
    .text-center
        .main.container-fluid

                form(method="POST" action="/login").form-signin
                    h1 Please sign in
                    label.sr-only(for="email") Email
                    input.form-control(type="email" placeholder="Email address" name="email" id="email" required="" autofocus="")
                    label.sr-only(for="password") Password
                    input.form-control(type="password" placeholder="Password" name="password" id="password" required="")
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
                    p.mt-5.mb-3.text-muted &copy; 2020

