extends layout

block content
    .main.container
        .registration.mx-auto.d-block.w-100
            .page-header.text-center
                h1 Sign Up
            form(method="POST" action="/register")
                .form-group
                    label(for="name") Full name:
                    input#name.form-control(type="text", placeholder="first and last" name="name")
                .form-group
                    label(for="email") Email:
                    input#email.form-control(type="email", placeholder="name@email.com" name="email")
                .form-group
                    label(for="pw") Password:
                    input#pw.form-control(type="password" name="password")
                .form-group
                    label(for="pw2") Confirm Password:
                    input#pw2.form-control(type="password" name="confirmPassword")
                .d-flex.justify-content-between.align-items-center
                    .form-group.d-flex.justify-content-start
                        button.btn.btn-primary(type="submit") Submit
                    .form-check.form-group.d-flex.justify-content-end
                        a(href="/login") Sign in instead