.container-fluid.bg-light.popular-link-set
    .container
        h2.text-center.mb-4 Our Team
        .row
            // team-1
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='../images/homepage/blue.png' style="border-style: solid; border-color: #e6e7e9; width: 90px; height: 90px")
                        h3 Lauren
                        p Member


            // team-2
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='../images/homepage/blue.png' style="border-style: solid; border-color: #e6e7e9; width: 90px; height: 90px")
                        h3 Lucy
                        p Member

            // team-3
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='../images/homepage/blue.png' style="border-style: solid; border-color: #e6e7e9; width: 90px; height: 90px")
                        h3 Michael
                        p Member

            // team-4
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='../images/homepage/blue.png' style="border-style: solid; border-color: #e6e7e9; width: 90px; height: 90px")
                        h3 Su Lyn
                        p Member

