.container-fluid.bg-light.popular-link-set
    .container
        h2.text-center.mb-4 Our Team
        .row
            // team-1
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='http://placehold.it/100x100/9c27b0/fff?text=L' style="border-style: solid; border-color: #e6e7e9")
                        h3 Lauren
                        p Member

            // team-1
            // team-2
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='http://placehold.it/100x100/336699/fff?text=L' style="border-style: solid; border-color: #e6e7e9")
                        h3 Lucy
                        p Member
            // team-2
            // team-3
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='http://placehold.it/100x100/607d8b/fff?text=M' style="border-style: solid; border-color: #e6e7e9")
                        h3 Michael
                        p Member
            // team-3
            // team-4
            .col-lg-3
                .our-team-main.shadow-sm
                    .team-front
                        img.img-fluid(src='../images/homepage/lyn.jpg' style="border-style: solid; border-color: #e6e7e9")
                        h3 Su Lyn
                        p Member
            // team-4
