extends layout

block content
    // User Avatar page for Users to Change their Avatar
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (completed)
                  br
                  br
                  br
                  h2.display-4.m-b-2 Successfully changed your avatar!
                  br
                  p To return to your profile page and see your new avatar, #[a(href="/profile") click here].
                  //- p Thank you for uploading an image for #{venue.venueName}!
                  //- p The admins will review your image and update our database accordingly.
                
                //- Else, show suggestion form
                else
                  br
                  br
                  br
                  h1.display-4.m-b-2 Change your avatar
                  br
                  p user: #{user.first_name} #{user.last_name}
                  br
                  p Upload an image below to change your avatar (profile picture).
                  
                  p Please note that we can only accept images in <strong> .jpeg, .jpg, or .png </strong> format.
                    
                  form(enctype='multipart/form-data' method='POST' action='')
                    .row
                    
                      .row
                      label(for="userAvatar") Upload your new avatar photo
                        .row
                        input(type="file" id="userAvatar" name="userAvatar" accept=".jpg,.jpeg,.png" required)
                  
                    
                    .row
                      button.mb-3.btn.btn-primary(type="submit") Submit
                  
                  
