extends layout

block content
    .main.container
        .row
            div
                div.user-profile
                    img.profile-background(src="https://66.media.tumblr.com/4e8b11edec6685c16b8967f38c327e12/tumblr_n6v9k5Dfuu1qakm7uo1_500.jpg")
                    img.profile-thumbnail(src="https://cms-assets.tutsplus.com/uploads/users/107/posts/26101/image/44-x-men-avatars-rogue.jpg")
                    div.profile-details
                        h2.display-4.m-b-2 #{user.name}
                        p Email: #{user.email}
                        p User ID: #{user._id}





