extends layout

block content
    // View all users cards with basic details
    .main.container
        div.row
            .ml-auto.mr-auto.col-md-offset-2
                h1 Users
            .row
                each user in users
                    div.col-lg-3.col-sm-6
                        div.card.hovercard
                            .cardheader
                            // Profile photo
                            .avatar2
                                img(src=user.avatar)
                            // Basic user information
                            .info
                                .title
                                    a(href='/user/' + user._id) #{user.name}
                                .desc Email: #{user.email}
                                .desc User ID: #{user._id}


