extends layout

block content

    // Delete Venue Profile page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (deleted)
                  br
                  br
                  h1.display-4.m-b-2 Successfully deleted a venue!
                  
                  a(href="/venue/") Back to venue list
                
                //- Else, show suggestion form
                else
                
                  br
                  br
                  h1.display-4.m-b-2 Delete #{venue.venueName}
                  br
                  center
                    p Are you sure you want to delete this venue?
                    p <strong> This action cannot be undone. </strong>
                    
                    br
                    br
                    - const venuePage = "/venue/" + venue._id
                    a.btn.btn-Info(href=venuePage) Back to the venue profile
                    
                    br
                    br
                    - const updateReview = "/venueUpdate/" + venue._id
                    a.btn.btn-Warning(href=updateReview) UPDATE Venue 
                    
                    
                    br
                    br
                    form(method="POST" action="")
                      button.btn.btn-Danger(type="Submit") DELETE Venue  
