extends layout

block content
  
  h1 INSERT PHOTO
  
  //main content 
  div 
    h2 #{venue.venueName}
    p #{venue.venueType} | #{venue.venueSuburb}, #{venue.venueState}
    
    p Leave a review
    
    h3 Details
    
    //- each detail in venue
    //-   if venue detail = 1/true 
    //-     div.col-md-6 cafeDetailImg
  
  //- //side bar
  //- div
  //-   h3 Contact Details
  //-   each contact in venue
    
    
      
  
