extends layout


block content
  
  #venues-page.main.container
      .row
          .col-md-8.col-md-offset-2
              h1.display-4.m-b-2 Venues
              table
                  tr
                      th Name
                      th Type
                      th Address

                
                  each venue in venues
                      - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
                      tr
                        td
                            a(href='/venue/' + venue._id) #{venue.venueName}
                        td #{venue.venueType}
                        td #{address}
    
