.big-heading {
    color: #ffffff;
}

header.masthead {
    position: relative;
    background: #343a40 url("../images/homepage/bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #0b5394;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

.search-bottom-title {
    font-family: "Open Sans", sans-serif;
    color: #adadad;
    font-size: 14px;
    line-height: 21px;
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
}

.popular-link-set {
    color: #adadad;
    font-size: 14px;
    line-height: 24px;
    padding: 30px 30px;
    vertical-align: baseline;
    text-align: center;
}

.popular-link-avatar {
    margin-top: -4rem;
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.popular-link-avatar-name {
    font-size: 14px;
    font-family: "Montserrat", "sans-serif";
    padding-bottom: 10px;
}

.popular-link-title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-img-top {
    height: 190px;
    object-fit: cover;
}

.about {
    padding: 120px 30px;
}
