/* Base Styles */

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

a {
    color: #959799;
    text-decoration: solid;
    background-color: transparent;
}

a:hover {
    color: rgba(49, 176, 213, .7);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "sans-serif";
}

h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 66px;
    vertical-align: baseline;
    margin: 0px 0px 6px;
    text-align: center;
}


/* Component Styles */

.navbar {
    padding: 1rem 0;
    background: rgba(0, 0, 0, .25);
}

.lead {
    margin-bottom: 2.5rem;
}

.main {
    color: #000000;
    min-height: calc(100vh - 34px);
}

.foot {
    font-size: .85rem;
    padding: .5rem 0;
    color: #000000;
}

.popular-link-set {
    color: #adadad;
    background-color: #fbfbfb;
    font-size: 16px;
    line-height: 24px;
    padding: 50px 0px;
    vertical-align: baseline;
}

/**********************/

header.masthead {
    position: relative;
    background: #343a40 url("../images/bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 15rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #0b5394;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

.search-bottom-title {
    font-family: "Open Sans", sans-serif;
    color: rgb(187, 191, 191);
    font-size: 14px;
    line-height: 21px;
    margin: 20px 0px;
    font-weight: 400;
    text-align: center;
}

.nav-items .nav-link {
    margin: 0 1rem;
}

.navbar .nav-link,
.navbar .btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: .95rem;
}

.list-group {
    color: initial;
}

.label {
    font-size: .88rem;
    vertical-align: top;
    margin: 3px 0 0 4px;
}


/* Button Styles */

.btn-primary {
    background: #417aba;
    border-color: #417aba;
}

.btn-info {
    background-color: #0b5394;
    border-color: #3d8596;
}

.btn-info:hover {
    background-color: #3d85c6;
    border-color: #5bc0de;
}

.btn-light {
    color: rgba(255, 255, 255, .75);
    background: rgba(255, 255, 255, .12);
}

.btn-light:hover {
    background: rgba(255, 255, 255, .2);
}

.active,
.btn {
    transition: .4s;
    font-family: "Poppins", "Montserrat", "sans-serif"
}

/* Icon Styles */

.icn-logo {
    margin: 3px 3px 0;
    float: left;
}
.icn-person {
    font-size: 50px;
    border-radius: 50%;
    border: solid 2px;
    padding: .5rem;
}
.avatar {
    width: 35px;
    margin-right: 18px;
    border: solid 2px rgba(255,255,255, .75);
}
.options {
    display: none;
}
.list-group-item:hover .options {
    display: block;
}
.options .material-icons {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
    color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
    color: initial;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
    .navbar {
        background: #1d2a33;
    }
    .nav-items .nav-item {
        float: none;
    }
    .nav-items .nav-link  {
        padding: .65rem 0;
        display: block;
    }
    .nav-items {
        padding: 1rem 0;
        clear: left;
    }
    .navbar .btn {
        margin-left: 1rem;
    }
    .main {
        padding-top: 6rem;
    }
}

@media (min-width: 48em) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav .container {
        display: -webkit-flex;
        display: flex;
    }
    .nav-items {
        margin-right: auto;
        margin-left: auto;
    }
    .main {
        padding-top: 8rem;
    }
}

/* Venue Page */

.venue-table{
  background-color: white;
}

.venue-side-bar{
  background-color: white;
}

.venue-details-div{
  background-color: white;
}

.venue-details-table{
  text-align: center;
  table-layout: fixed;
  width: 600px;
  vertical-align: text-bottom;
}

.venue-profile-page{
  background-color: white;
}

#venues-page{
  background-color: white;
}

