/* Base Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    padding-top: 62px;
}

a {
    color: #6C757D;
    text-decoration: solid;
    background-color: transparent;
}

a:hover {
    color: #3d85c6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "sans-serif";
}

h4, h5 {
    color: #404040;
}

h1 {
    color: #404040;
    font-size: 40px;
    line-height: 66px;
    vertical-align: baseline;
    margin: 0 0 6px;
    text-align: center;
}


/* Component Styles */

.navbar {
    padding: 0.5rem 6rem;
    background: rgba(0, 0, 0, .25);
}

.lead {
    margin-bottom: 2.5rem;
}

.main {
    color: #404040;
    min-height: calc(100vh - 34px);
}

footer {
    font-family: "Montserrat", "Poppins", sans-serif;
}


/* Navigation */

a.nav-item.nav-link.active {
    color: #0b5394;
}

.navbar .nav-link,
.navbar .btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: .95rem;
}

.list-group {
    color: initial;
}

.label {
    font-size: .88rem;
    vertical-align: top;
    margin: 3px 0 0 4px;
}


/* Button Styles */

.btn-primary {
    background-color: #0b5394;
    border-color: #0b5394;
}

.btn-primary:hover {
    background-color: #3d85c6;
    border-color: #3d85c6;
}

.btn-outline-primary {
    border-color: #0b5394;
    margin-right: 20px;
    margin-top: 10px;
    color: #0b5394;
}

.btn-outline-primary:hover {
    background-color: #0b5394;
    border-color: #3d85c6;
}

button.btn.btn-primary {
    margin-right: 5px;
}


/*.active,*/
.btn {
    transition: .4s;
    font-family: "Montserrat", "Poppins", "sans-serif";
}

/* Icon Styles */


.icn-person {
    font-size: 50px;
    border-radius: 50%;
    border: solid 2px;
    padding: .5rem;
}

.avatar {
    width: 35px;
    height: 35px;
    margin-right: 18px;
    object-fit: cover;
    border: solid 2px rgba(255, 255, 255, 0.75);
}

.avatar-profile {
    object-fit: cover;
}

.options {
    display: none;
}

.list-group-item:hover .options {
    display: block;
}

.options .material-icons {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
    color: #404040;
}

.options .material-icons:hover {
    color: initial;
}

.fas, .far {
    margin-left: 10px;
    text-decoration: none !important;
}
