/* Venue Page */

.venue-table{
    background-color: white;
}

.venue-side-bar{
    background-color: white;
}

.venue-details-div{
    background-color: white;
}

.venue-details-table{
    text-align: center;
    table-layout: fixed;
    width: 600px;
    vertical-align: text-bottom;
}

.venue-profile-page{
    background-color: white;
}

#venues-page{
    background-color: white;
}

.venue-header{
  object-fit: cover;
  object-position: 50% 60%;
  width:100%;
  height: 350px;
}

.venue-thumbnail{
  object-fit: cover;
  object-position: 50% 60%;
  width:100%;
  height: 100%;
}
